page-home {
    img{
        position: relative;
        margin: auto;
        width: 50%;
        height: auto;
        margin-left: 25%;
    }
    ion-col{
        text-align: center;
    }

    .grid{
        margin-top:3em;
    }

    .card-ios{
        padding: 1em;
    }
}
