// App Global Sass
body{
    background: #4267b2;
    .mmenu{
        background-size: 100% 100%; 
        background: #4267b2;
        .grid{
            padding: 8%;
            margin-top: 2em;
        }
    }
    .mtitle{
        font-size: 4vw;
        font-weight: normal;
        color: #fff;
        border-bottom: 0.5vw solid #fff;
        border-radius: 0.5vw;
        margin: 2vw;
        margin-top: 5vw;
        line-height: 8vw;
        opacity: 0.7;
    }
}

